body {
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

h1 {
    font-family: 'Palette Mosaic', cursive;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 50px;
    padding: 30px;
    color: var(--content);
    margin: 20px;
}

nav {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-right: 25px;
    font-size: 20px;
}

a {
    color: var(--content);
}

.gameText {
    display: flex;
    background-color: var(--main);
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 25px;
    margin-top: 90px;
    border-radius: 25px;
    border: 1px solid #000;
    width: 60%;
    height: 40%;
}

img {
    width: 150px;
    height: 150px;
}

.question {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    margin: 10px;
    color: var(--content);
    font-size: 15px;
}

.button {
    text-align: center;
    font-size: 20px;
    margin: auto;
    margin-top: 25px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    background: var(--boxes);
    transition: 0.4s;
}

.button:hover {
    background-color: var(--footer);
}

footer {
    background-color: var(--footer);
    text-align: center;
    padding: 5px 0;
    margin-top: 25px;
}