* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

#root {
    --background: rgb(138, 170, 154);
    --main: rgb(135, 175, 123);
    --content: rgb(165, 75, 117);
    --footer: rgb(190, 154, 209);
    --boxes: rgba(157, 172, 76, 0.979);
    --gameover: rgb(240, 177, 84);
}

ul {
    list-style: none;
}